@import "../../styles/mixins";
.event-box{
  width: 100%;
  @include border-shadow(3px, 3px, 15px, rgba(0,0,0,0.10));
  background-color: white;
  position: relative;
  margin-top: 50px;
  margin-bottom: 44px;
  max-height:300px;
  &--image{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 15px;
    right: 5%;
    background-color: white;
    @include border-shadow(2px, 2px, 15px, rgba(0,0,0,0.05));
    border-radius: 6px;
    overflow: hidden;
    img{
      width: 100%;
      @include translate("both", relative);
    }
  }
  &--content{
    box-sizing: border-box;
    //padding: 30px;
    padding: 15px 30px 15px 30px;
    overflow: scroll;
    max-height: 300px;
    h2{
      //font-weight: 500;
      //font-size: 2rem;
      //width: 100%;
      //text-overflow: ellipsis;
      //overflow: hidden;
      //white-space: nowrap;
      font-weight: 500;
      font-size: 2rem;
      width: 90%;
      line-height: 32px;
      padding-bottom: 15px;
    }
    p{
      font-size: 1.2rem;
      line-height: 26px;
      text-align: justify;
      font-weight: 500;
      opacity: .8;
      //max-height: 54px;
      max-height: 160px;
      overflow: scroll;
    }
  }
  &--info{
    display: flex;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    background-color: white;
    bottom: -44px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
    &__left, &__right{
      width: 50%;
      p{
        padding: 10px 0;
        font-weight: 500;
      }
    }
    &__left{
      border-right: 1px solid rgba(0,0,0,0.1);
    }
  }
}

