<div class="master">

  <!--Nav Bar-->
  <nav class="master--nav">
    <img class="master--nav__logo" alt="HTM Logo"/>
    <ul class="master--nav__nav">
      <li class="master--nav__nav__item" *ngFor="let item of getNavItems()">
        <a href="{{item.link}}">
          {{item.text}}
        </a>
      </li>
    </ul>
  </nav>

  <!--Header section-->
  <header class="master--header">
    <div class="overlay"></div>
    <h1 class="master--header__text">{{getHeaderTitle()}}</h1>
  </header>

</div>
