@import "../styles/mixins";
@import "../styles";
.master{
  padding-bottom: 50px;
  .mobile-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 20;
    &__content{
      @include translate("both", absolute);
      ul{
        list-style-type: none;
        text-align: center;
        li{
          display: block;
          font-size: 2rem;
          margin: 30px auto;
          font-weight: 500;
          text-transform: uppercase;
          transition: all 0.3s ease;
          &:hover{
            letter-spacing: 2px;
          }
        }
      }
    }
    &__close{
      display: block;
      text-align: right;
      position: absolute;
      right: 2%;
      top: 10px;
      cursor: pointer;
      h3{
        font-weight: 500;
      }
    }
  }
  &--nav{
    height: 70px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    &__logo{
      float: left;
      @include translate("y", relative);
      margin-left: 2%;
      height: 100%;
    }
    &__nav{
      float: right;
      @include translate("y", relative);
      margin-right: 2%;
      @include breakpoint("max", 730px){
        display: none;
      }
      &__item{
        display: inline-block;
        list-style-type: none;
        margin: 0 20px;
        cursor: pointer;
        a{
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 500;
          color: white;
          letter-spacing: 2px;
          transition: all 0.4s ease;
          &:hover{
            border-bottom: 2px solid white;
          }
        }
      }
      &__item:nth-last-child(1){
        margin-right: 0;
      }
    }
    &__mobile{
      display: none;
      text-align: right;
      color: white;
      position: relative;
      right: 2%;
      top: 10px;
      cursor: pointer;
      h3{
        font-weight: 500;
      }
      @include breakpoint("max", 730px){
        display: block;
      }
    }
  }
  &--header{
    height: 400px;
    margin: -92px 0 0 0;
    position: relative;
    z-index: 1;
    padding-bottom: 92px;
    .overlay{
      background-color: rgba(0,0,0,0.5);
    }
    @include background-image('/assets/img/master/header.jpg', cover, center, no-repeat);
    &__text{
      @include translate("y", relative);
      text-align: center;
      color: white;
      z-index: 2;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-family: $subFont;
      font-size: 4rem;
      padding: 92px 5% 0 5%;
    }
    #header-carrot{
      width: 3px;
      height: 45px;
      display: inline-block;
      background-color: white;
      margin-left: 5px;
      animation: carretFlicker 1.5s infinite;
    }
  }

  &--features{
    width: 95%;
    margin: auto;
    position: relative;
    z-index: 10;
    top: -20px;
    &__content{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      &__item{
        width: 30%;
        background-color: white;
        text-align: center;
        margin: 0 2%;
        border-radius: 3px;
        @include border-shadow(3px, 3px, 15px, rgba(0,0,0,0.15));
        position: relative;
        top: 0;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &__desktop{
          @include breakpoint("max", 670px){
            display: none;
          }
        }
        &__mobile{
          display: none;
          width: 60%;
          @include breakpoint("max", 670px){
            display: block;
          }
        }
        &__icon{
          width: 80px;
          height: 80px;
          overflow: hidden;
          position: relative;
          margin: auto;
          border-radius: 50%;
          margin-top: -25px;
          background-color: white;
          @include border-shadow(5px, 5px, 15px, rgba(0,0,0,0.3));
          img{
            width: 50%;
            @include translate("y", relative);
            opacity: .7;
          }
        }
        h3{
          font-weight: 500;
          text-transform: uppercase;
          font-size: 1.5rem;
          padding: 20px 0;
          letter-spacing: 3px;
          @include breakpoint("max", 730px){
            font-size: 1.1rem;
          }
        }
        &:nth-child(1){
          margin-left: 0;
        }
        &:nth-last-child(1){
          margin-right: 0;
        }
        &:hover{
          top: -10px;
        }
        @include breakpoint("min", 1150px){
          width: 25%;
        }
      }
    }
  }
  &--no-content{
    text-align: center;
    padding: 0 0 30px 0;
    img{
      width: 60px;
      height: 60px;
      animation: pointerShake 4s infinite;
      animation-delay: 2s;
    }
    h3{
      font-weight: 500;
      font-size: 2rem;
      letter-spacing: 1px;
      text-transform: capitalize;
      width: 60%;
      margin: auto;
    }
  }
}

.discord{
  position: fixed;
  right: 2%;
  bottom: 2%;
  background-color: #7289DA;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  animation: circleAnimate .4s ease 2s forwards;
  z-index: 999999999;
  &--box{
    width: 350px;
    height: 500px;
    position: fixed;
    right: 80px;
    bottom: 80px;
    z-index: 10000;
    transform-origin: bottom right;
    transition: discordTransform 1s ease;
    @include breakpoint("max", 530px){
      right: 0;
      bottom: 100px;
    }
    iframe{
      @include breakpoint("max", 366px){
        width: 260px;
        float: right;
      }
    }
  }
  &--icon, &--cross{
    width: 60%;
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    div{
      width: 100%;
      height: 100%;
    }
  }
  &--icon{
    animation: iconAnimateIn 0.3s ease;
    &__logo{
      background-image: url('http://www.vaingloryleague.com/wp-content/uploads/2017/01/discord.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat
    }
  }
  &--icon.open{
    transform: translate(-50%, -50%) scale(0);
    animation: iconAnimateOut .3s ease;
  }
  &--cross{
    animation: crossAnimateIn .3s ease;
    width: 40%;
    height: 40%;
    &__icon{
      background-image: url('http://www.rosas.center/fileadmin/templates/IS/image/close.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat
    }
  }
  &--cross.closed{
    transform: translate(-50%, -50%) scale(0);
    animation: iconAnimateOut .3s ease;
  }
}

@keyframes circleAnimate {
  0% { transform: scale(0); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes iconAnimateIn {
  0% { transform: translate(-50%, -50%) scale(0); }
  100% { transform: translate(-50%, -50%) scale(1); }
}

@keyframes crossAnimateIn {
  0% { transform: translate(-50%, -50%) rotate(-90deg) scale(0); }
  100% { transform: translate(-50%, -50%) rotate(90deg) scale(1); }
}

@keyframes iconAnimateOut {
  0% { transform: translate(-50%, -50%) scale(1); }
  100% { transform: translate(-50%, -50%) scale(0); display: none; }
}

//@keyframes discordTransform {
//  0% {
//    //transform: scale(0);
//    opacity: 0;
//  }
//  100% {
//    //transform: scale(1);
//    opacity: 1;
//  }
//}

@keyframes carretFlicker {
  0%{
    opacity: 0;
  }
  25%{
    opacity: .7;
  }
  75%{
    opacity: .7;
  }
  100%{
    opacity: 0;
  }
}

@keyframes pointerShake {
  0%{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10%{
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  20%{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
