<div class="master">
  <div *ngIf="mobileMenuActive" class="mobile-menu">
    <div class="mobile-menu__close">
      <h3 (click)="toggleMobileMenu()">CLOSE</h3>
    </div>
    <div class="mobile-menu__content">
      <ul class="mobile-menu__content__nav" *ngIf="mobileContent == 'menu'">
        <li class="mobile-menu__content__nav__item" *ngFor="let item of getNavItems()" (click)="selectSection(item.link)">
          <a *ngIf="item.type === 'link'" href="{{item.section}}"></a>
          <a *ngIf="!item.type" (click)="selectSection(item.section)">{{item.text}}</a>
        </li>
      </ul>
      <ul class="mobile-menu__content__nav" *ngIf="mobileContent == 'select'">
        <li class="mobile-menu__content__nav__item" *ngFor="let item of getFeatureItems()" (click)="selectSection(item.link)">
          <a *ngIf="item.type === 'link'" href="{{item.section}}"></a>
          <a *ngIf="!item.type" (click)="selectSection(item.section)">{{item.text}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!--Nav Bar-->
  <nav class="master--nav">
    <img class="master--nav__logo" src="./assets/img/master/logo.png" alt="HTM Logo"/>
    <ul class="master--nav__nav">
      <li class="master--nav__nav__item" *ngFor="let item of getNavItems()">
        <!--<a (click)="selectSection(item.link)">{{item.text}}</a>-->
        <a *ngIf="item.type === 'link'" href="{{item.link}}">{{item.text}}</a>
        <a *ngIf="!item.type" (click)="selectSection(item.link)">{{item.text}}</a>
      </li>
    </ul>
    <div class="master--nav__mobile">
      <h3 (click)="toggleMobileMenu('menu')">MENU</h3>
    </div>
  </nav>

  <!--Header section-->
  <header class="master--header">
    <div class="overlay"></div>
    <h1 class="master--header__text">{{headerText}}<span id="header-carrot"></span></h1>
  </header>

  <section class="master--features">
    <div class="master--features__content">
      <div class="master--features__content__item master--features__content__item__desktop" *ngFor="let item of getFeatureItems()" (click)="selectSection(item.section)">
        <div class="master--features__content__item__icon">
          <img src="{{item.icon}}"/>
        </div>
        <h3>{{item.text}}</h3>
      </div>
      <div class="master--features__content__item master--features__content__item__mobile" (click)="toggleMobileMenu('select')">
        <div class="master--features__content__item__icon">
          <img src="./assets/img/landing/select.svg"/>
        </div>
        <h3>Select An Option</h3>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="master--no-content" *ngIf="selectedTab == 'unselected'">
    <img src="./assets/img/landing/click.svg"/>
    <h3>Select an item from above so the magic can take place!</h3>
  </div>
  <!--<h1 *ngIf="loadingComponent" class="master&#45;&#45;loading">Loading Timetable...</h1>-->
  <app-timetable *ngIf="selectedTab == 'timetable'"></app-timetable>
  <app-workshops *ngIf="selectedTab == 'workshops'"></app-workshops>
  <app-faq *ngIf="selectedTab == 'faq'"></app-faq>
  <app-challenges *ngIf="selectedTab == 'challenges'"></app-challenges>
</div>

<div class="discord" id="circle" (click)="toggleDiscord()">
  <div class="discord--box" [@discord]="showDiscord">
    <iframe src="https://discordapp.com/widget?id=304313295165325323&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
  </div>
  <div id="icon" class="discord--icon">
    <div id="discord" class="discord--icon__logo"></div>
  </div>
  <div id="cross" class="discord--cross closed">
    <div id="cross-icon" class="discord--cross__icon"></div>
  </div>
</div>


