<div class="master">

  <!--Nav Bar-->
  <nav class="master--nav">
    <img class="master--nav__logo" src="/assets/img/master/logo.png" alt="HTM Logo"/>
    <ul class="master--nav__nav">
      <li class="master--nav__nav__item" *ngFor="let item of getNavItems()">
        <a href="{{item.link}}">
          {{item.text}}
        </a>
      </li>
    </ul>
  </nav>

  <!--Header section-->
  <header class="master--header">
    <div class="overlay"></div>
    <h1 class="master--header__text">{{getHeaderTitle()}}<span id="header-carrot"></span></h1>
  </header>

  <section class="master--features">
    <div class="master--features__content">
      <div class="master--features__content__item" *ngFor="let item of getFeatureItems()" (click)="selectSection(item.section)">
        <div class="master--features__content__item__icon">
          <img src="{{item.icon}}"/>
        </div>
        <h3>{{item.text}}</h3>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="master--no-content" *ngIf="selectedTab == 'unselected'">
    <img src="/assets/img/landing/click.svg"/>
    <h3>Select an item from above so the magic can take place!</h3>
  </div>
  <app-timetable *ngIf="selectedTab == 'timetable'"></app-timetable>
</div>

