<div class="challenges" id="challenges" [@componentInit]="componentState">
  <div class="challenges--header">
    <div class="challenges--header__title">
      <h1>Challenges</h1>
      <hr>
    </div>
  </div>

  <div class="challenges--body">
    <div class="challenges--body__item" *ngFor="let item of challengeData">
      <div class="challenges--body__item__icon">
        <img src="{{item.sponsorLogo}}"/>
      </div>
      <div class="challenges--body__item__content">
        <h2>{{item.name}}</h2>
        <h4>{{item.sponsor}}</h4>
        <hr/>
        <p>{{item.desc}}</p>
      </div>
    </div>
  </div>

</div>
